body {
  text-align: center;
}

button {
  margin: 10px;
}

#factories, #machines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.factory, .machine {
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  margin: 5px;
  padding: 10px;
}

